<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.dao.NewDateMapper">

    <select id="findNewDate" resultType="com.company.dao.pojo.NewDate">
        select d.dname,j.jname,e.ename,e.esex,e.hireday,e.eedu
        from t_emp e left join t_job j on e.jno=j.jno left join t_dept d on e.dno=d.dno
        where e.hireday between #{begin} and #{end}
    </select>
</mapper>